@charset "UTF-8";
/* CSS Document */

.green {color:#5cb85c;}

a:link, a:visited, a:active {color:#5cb85c;}     
a:hover {color:#3b9f3b;}  
a:focus {color:#4cae4c;}

a.hiddenlink{
	color:#000;
	text-decoration:none;
}

.adlabel{
	color:#bbb;
	font-size:80%;	
}


.nav-item{
	background-color:#eee;
	border-color:#eee;
}



.navbar-default .navbar-nav>li>a {
		color:#000;	
}

.navbar-default .navbar-nav>li>a:hover {
		color:#5cb85c;
}


a.nav-item:link{
	color:#000;
}

a.nav-item:link, a.nav-item:focus, a.nav-item:active, a.nav-item:visited {
	color:#000;
}

a.nav-item:hover{
color:#5cb85c;	
}

a.nav-item.btn-default:active{
border-color:#eee;
background-color:#eee;
box-shadow: inset 0 3px 2px rgba(0,0,0,.125);
}